* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #8A51FC;
}

.logo {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}


main {
    width: 375px;
    height: auto;
    background-color: #F4F4F4;
    margin: 0 auto 40px;
    padding: 68px 24px 23px;
    border-radius: 25px;
}

label {
    color: #777;
    font-size: 14px;
    font-weight: 400;
}

select,
input {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #BBB;
    background: #FFF;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
}

button {
    border-radius: 8px;
    background: #772FD3;
    height: 48px;
    width: 100%;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column; 
    align-items: center;
}

.arrow-img{
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4px;
}

.currency-value {
    color: #555555;
    font-size: 20px;
    font-weight: 700;
    
}

.currency{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}